{% extends 'auth/auth_base.html' %}
{% block content %}
    <form class="container col-sm-6 form-signin" action="" method="post" style="padding: 2%">
        <h3 class="mb-3 font-weight-normal white-text">ПРИСОЕДИНЯЙТЕСЬ К ЧАТ-БОТУ!</h3>
        <p class="white-text">
            Виртуальный помощник Харза ждет вас в мессенджере Telegram.
            Там вы сможете получить подробную информацию о предстоящей конференции, задать вопросы спикерам и выиграть крутые призы!
            Вы можете пропустить подключение к чат-боту, нажав кнопку ниже «ПРОПУСТИТЬ».
        </p>
        <span class="white-text">Чтобы подключиться к чат-боту, нужно:</span>
        <ol class="white-text">
            <li>Установить телеграм на ваше устройство. Вот ссылки:
                <ul class="list-unstyled mb-1">
                    <li>
                        <a href="https://apps.apple.com/ru/app/telegram-messenger/id686449807" target="_blank" class="btn login-btn col white m-1">iPhone</a>
                        <a href="https://play.google.com/store/apps/details?id=org.telegram.messenger&hl=ru" target="_blank" class="btn login-btn col white m-1">Android</a>
                        <a href="https://telegram-pc.ru/files/tsetup.2.0.1.exe" target="_blank" class="btn login-btn col white m-1">Windows</a>
                    </li>
                </ul>
            </li>
        </ol>
        <span class="white-text">Если телеграм установлен:</span>
        <ol class="white-text">
            <li>Нажать ниже кнопку <b>"Подключиться к чат-боту"</b></li>
            <li>Нажать в боте кнопку <b>"Start"</b></li>
        </ol>
        <a class="form-control btn btn-info login-btn mb-2" href="{{ "https://t.me/"+bot_name+"?start=userid_"+current_user.id|string }}" target="_blank">
            ПОДКЛЮЧИТЬСЯ К ЧАТ-БОТУ
        </a>
        <a class="form-control btn btn-info login-btn" href="{{ url_for('main.index') }}">
            ПРОПУСТИТЬ
        </a>
    </form>
{% endblock %}
