{% extends 'admin/base_admin.html' %}

{% block content %}
    <div class="container-fluid">
        <h3>Концерты</h3>
        <a class="btn btn-outline-success" href="{{ url_for('admin.event_view', eid=0) }}">Добавить новый</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>№</th>
                <th>Название</th>
                <th>Афиша</th>
                <th>Площадка</th>
                <th>Рассадка</th>
            </tr>
            </thead>
            <tbody>
            {% for e in events %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ url_for('admin.event_view', eid=e.id) }}">{{ e.name }}</a></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
