{% extends 'admin/base_admin.html' %}

{% block content %}
    <h3>Внешний вид плаформы для пользователя</h3>
    <div class="row">
        <h4 class="col-12">Хедер</h4>
        <div class="col">
            <p>Лого</p>
            <p>Имя бренда</p>
            <p>Фавикон</p>
            <p>Фон хедера</p>
            <p>Прозрачность хедера</p>
        </div>
    </div>
    <div class="row">
        <h4 class="col-12">Основной блок</h4>
        <div class="col">
            <p>Фон цвет</p>
            <p>Фон картинка</p>
            <p>Информация о событии - текст</p>
            <p>Ссылка на трансляцию</p>
            <p>Кнопки под трансляцией</p>
        </div>
    </div>
    <div class="row">
        <h4 class="col-12">Футер</h4>
        <div class="col">
            <p>Фон футера</p>
            <p>Прозрачность футера</p>
            <p>Добавить лого и подпись партнера</p>
        </div>
    </div>
{% endblock %}
